<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" th:fragment="base(titulo, conteudo)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>
<body>
    <div class="flex flex-col min-h-screen">

        <header class="flex items-center justify-between px-10 py-3">
            <!-- Logo + Título -->
            <h1 class="text-xl font-bold flex items-center gap-2">
                <img src="/images/logo.png" alt="Logo King Manager" class="w-12 h-12">
                King Manager
            </h1>

            <nav>
                <ul class="flex gap-4 items-center">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/produtos}">Produtos</a></li>
                    <li><a th:href="@{/usuarios}">Usuários</a></li>
                    <li><a th:href="@{/fornecedores}">Fornecedores</a></li>
                    <!-- Botão Movimentações -->
                    <li><a th:href="@{/movimentos}">Movimentações</a></li>
                    <li>
                        <a th:href="@{/principal/user/1}" 
                        class="px-3 py-1 bg-[#4B0082] rounded-md text-[#FFFFF7] hover:bg-[#3A0067]">
                        Meu Perfil
                        </a>
                    </li>
                </ul>
            </nav>

        </header>

        <main class="flex-1 px-10 py-6">
            <div th:replace="${conteudo}"></div>
        </main>
        
        <footer class="text-center py-4">
            <p>&copy; 2025 King Manager. Todos os direitos reservados.</p>
        </footer>

    </div>
</body>
</html>
