<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Criar Usuário</title>
</head>
<body>

    <!-- Header -->
    <div th:replace="fragments/base :: header"></div>

    <!-- Conteúdo -->
    <main th:replace="fragments/base :: content">
        <h1>Criar Novo Usuário</h1>
        <form th:action="@{/usuarios/novo}" th:object="${usuario}" method="post">
            <input type="hidden" th:field="*{id}" />
            
            <div>
                <label>Nome</label>
                <input type="text" th:field="*{name}" placeholder="Digite o nome" required/>
            </div>

            <div>
                <label>Email</label>
                <input type="email" th:field="*{email}" placeholder="Digite o email" required/>
            </div>

            <button type="submit">Criar Usuário</button>
        </form>
    </main>

    <!-- Footer -->
    <div th:replace="fragments/base :: footer"></div>
</body>
</html>
