<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuários</title>
</head>
<body>

    <!-- Header -->
    <div th:replace="fragments/base :: header"></div>

    <!-- Conteúdo -->
    <main th:replace="fragments/base :: content">
        <h1>Lista de Usuários</h1>
        <div th:each="usuario : ${usuarios}">
            <h2 th:text="${usuario.name}">Nome</h2>
            <p th:text="${usuario.email}">Email</p>
        </div>
    </main>

    <!-- Footer -->
    <div th:replace="fragments/base :: footer"></div>
</body>
</html>
  