<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Perfil do Usuário</title>
</head>
<body>

    <!-- Header -->
    <div th:replace="fragments/base :: header"></div>

    <!-- Conteúdo -->
    <main th:replace="fragments/base :: content">
        <h1>Perfil do Usuário</h1>
        <p>Nome: <span th:text="${usuario.name}"></span></p>
        <p>Email: <span th:text="${usuario.email}"></span></p>

        <a th:href="@{/usuarios}">Voltar para lista</a>
    </main>

    <!-- Footer -->
    <div th:replace="fragments/base :: footer"></div>
</body>
</html>
